<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="EPPlus" version="4.5.2" targetFramework="net452" />
  <package id="FireSharp" version="2.0.4" targetFramework="net452" />
  <package id="FireSharp.Serialization.JsonNet" version="1.1.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net452" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.11" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="RestSharp" version="104.4.0" targetFramework="net452" />
  <package id="Spire.XLS" version="8.5.1" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net452" />
  <package id="Tulpep.NotificationWindow" version="1.1.25" targetFramework="net452" />
</packages>